.bio {
  background-image: url('../../assets/fondoBio.webp');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: #000821;
  display: flex;
  position: relative;
}

.bio__text-container {
  margin: 5% 2%;
}

.bio__title {
  font-size: 2.5rem;
  margin: 2% auto 2%;
}

.bio__subtitle {
  color: #071a55;
  font-size: 1.8rem;
  margin: 0;
}

.bio__paragraph {
  text-align: justify;
  font-size: 1.3rem;
  line-height: 1.8rem;
  text-shadow: 0 0 2px #4c73f1;
}

.bio__text-accent {
  font-size: 1.3rem;
  color: #e17900;
  font-weight: 600;
  text-shadow: #000821 1px 1px;
}

.bio__img {
  position: relative;
  width: 35%;
  height: 35%;
  /* top: 20px; */
  align-self: center;
}

@media screen and (max-width: 800px) {
  .bio {
    flex-direction: column-reverse;
  }

  .bio__text-container {
    margin: 0 3% 2%;
  }

  .bio__img {
    position: relative;
    width: 60%;
    height: auto;
    align-self: flex-end;
  }

  .bio__title {
    font-size: 2.5rem;
    text-align: center;
    margin: 0 0 0.5em;
  }
}

@media screen and (max-width: 500px) {
  .bio__title {
    font-size: 1.5rem;
  }

  .bio__subtitle {
    font-size: 1.3rem;
  }

  .bio__paragraph {
    font-size: 0.9rem;
  }

  .bio__text-accent {
    font-size: 0.9rem;
  }
}
