.info {
  padding: 5%;
  background: linear-gradient(
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 8, 33, 1) 50%,
    rgba(7, 26, 85, 1) 100%
  );
  border-bottom: 10px solid #ffe3bc;
  padding-bottom: 7%;
}

.info__container {
  max-width: 1300px;
  margin: 0 auto 6rem;
  border: 2px white solid;
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.info__title {
  font-size: 2.8rem;
  color: #ffe3bc;
  text-align: center;
  font-weight: 500;
}

.info__text {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.5rem;
  margin: 0;
}

.info__text_accent {
  color: #e17900;
}

.info__subtitle {
  font-size: 2rem;
  color: #4c73f1;
  font-weight: 500;
  margin: 1em 0 0.5em;
}

.info__img {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .info__title {
    font-size: 2rem;
  }

  .info__text {
    font-size: 1rem;
  }

  .info__subtitle {
    font-size: 1.5rem;
  }
}
