.hero {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-color: #ccc7e1;
}

.hero__header {
  background-color: #000821;
}

.hero__logo {
  width: 20%;
  padding-left: 4%;
  min-width: 15em;
}

.hero__container {
  display: flex;
  position: relative;
}

.hero__container_text {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
}

.hero__img {
  width: 25%;
  height: fit-content;
  align-self: flex-end;
}

.hero__hook {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 0.5em 0;
}

.hero__hook_accent {
  color: #e17900;
  text-shadow: #000821 1px 1px;
}

.hero__title {
  font-size: 2.5rem;
  color: #e17900;
  margin: 0;
  font-weight: 500;
  text-shadow: 1px 1px #000821;
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 1em;
}

.hero__title_accent {
  color: #000821;
  text-shadow: none;
}

.hero__subtitle {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  color: #000821;
  position: relative;
  z-index: 1;
  padding: 0.5em 1em;
}

.hero__btn-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__btn {
  background-color: #e17900;
  padding: 0.5em 2em;
  font-size: 1.5rem;
  border-radius: 0.5em;
  color: #ffe3bc;
  box-shadow: #ffe3bc 1px 1px, #ffe3bc -1px -1px, #ffe3bc 1px -1px,
    #ffe3bc -1px 1px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 0.5em;
  text-align: center;
  position: relative;
  z-index: 2;
}

.hero__date-container {
  position: relative;
  width: 100%;
  position: relative;
  z-index: 2;
}

.hero__date {
  position: relative;
  color: #000821;
  z-index: 2;
  font-size: 1.5rem;
  margin: 0.5em;
  text-align: center;
}

/* .hero__form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hero__form-element {
  width: 75%;
} */

@media screen and (max-width: 1000px) {
  .hero__hook {
    font-weight: 300;
  }

  .hero__title {
    font-weight: 300;
  }

  .hero__subtitle {
    font-weight: 300;
  }

  .hero__btn {
    font-weight: 300;
  }
}

@media screen and (max-width: 700px) {
  .hero__container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .hero__container_text {
    width: 90%;
    text-align: center;
  }

  .hero__img {
    display: none;
  }

  .hero__header {
    padding-bottom: 0.5em;
  }

  .hero__hook {
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
    padding: 0.2em 0;
  }

  .hero__title {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .hero__subtitle {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    margin: 0.5em 0;
  }

  .hero__date {
    font-size: 1rem;
  }

  .hero__btn {
    font-size: 1rem;
    font-weight: 300;
  }
}
