.hero {
  /* min-height: 100vh; */
  width: 100%;
  /* padding: 0 6%; */
  background-color: #000821;
  padding-bottom: 2em;
  padding-top: 1em;
}

.hero__logo {
  width: 20%;
  padding-left: 4%;
  min-width: 15em;
}

.hero__container {
  display: flex;
  padding-top: 2em;
}

.hero__container_text {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  padding-left: 4%;
}

.hero__img {
  width: 50%;
  height: fit-content;
  margin-top: 3em;
}

.hero__hook {
  color: #ccc7e1;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 0;
}

.hero__hook_accent {
  color: #ffe3bc;
}

.hero__title {
  font-size: 2rem;
  color: #e17900;
  margin: 0;
  font-weight: 600;
  text-shadow: 0 0 5px #000821;
}

.hero__subtitle {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 1em 0;
}

.hero__btn-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__btn {
  background-color: #e17900;
  padding: 0.5em 2em;
  font-size: 1.5rem;
  border-radius: 0.5em;
  color: #ffe3bc;
  box-shadow: #ffe3bc 1px 1px, #ffe3bc -1px -1px, #ffe3bc 1px -1px,
    #ffe3bc -1px 1px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 0.5em;
  text-align: center;
}

.hero__date-container {
  position: relative;
  margin-bottom: 2em;
  width: 100%;
}

.hero__date {
  position: relative;
  color: #ffe3bc;
  z-index: 2;
  font-size: 1.3rem;
  margin: 0.5em;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .hero__hook {
    font-weight: 300;
  }

  .hero__title {
    font-weight: 300;
  }

  .hero__subtitle {
    font-weight: 300;
  }

  .hero__btn {
    font-weight: 300;
  }
}

@media screen and (max-width: 700px) {
  .hero {
    padding-top: 0.5em;
  }

  .hero__container {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 0;
  }

  .hero__container_text {
    width: 90%;
    padding-left: 0;
    text-align: center;
  }

  .hero__logo {
    padding-bottom: 0;
  }

  .hero__img {
    width: 90%;
    margin: 0.5em auto;
  }

  .hero__hook {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
  }

  .hero__title {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
  }

  .hero__subtitle {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    margin: 0.5em 0;
  }

  .hero__date {
    font-size: 1rem;
  }

  .hero__btn {
    font-size: 1rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 300px) {
  .hero__hook {
    font-size: 1rem;
  }

  .hero__title {
    font-size: 1.3rem;
  }

  .hero__subtitle {
    font-size: 1rem;
  }

  .hero__date {
    font-size: 1rem;
  }

  .hero__btn {
    font-size: 1rem;
  }
}
