.garantia {
  padding: 0 5% 5rem;
  display: flex;
  flex-direction: column;
  background-color: #ffe3bc;
  color: #071a55;
}

.garantia__title {
  align-self: center;
  position: relative;
  margin: 0;
  padding: 0.5em 1em;
  font-size: 2.5rem;
  background-color: #ffe3bc;
  border: #e17900 2px solid;
  top: -1em;
  font-weight: 500;
  text-align: center;
}

.garantia__container {
  display: flex;
}

.garantia__img {
  width: 30%;
  height: fit-content;
  padding: 2em;
}

.garantia__text {
  font-size: 1.5rem;
  margin: auto 0;
  text-align: justify;
}

.garantia__text_accent {
  color: #e17900;
}

@media screen and (max-width: 700px) {
  .garantia__container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .garantia__title {
    font-size: 2rem;
  }

  .garantia__text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .garantia__img {
    width: 50%;
  }
}
