.hero {
  background-image: url('../../assets/fondo-ventas.webp');
  min-height: 100vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
}

.hero__hook-container {
  position: relative;
  margin-top: 2%;
}

.hero__hook {
  color: #ccc7e1;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 3% auto 1em;
  text-align: center;
  width: 90%;
  position: relative;
  z-index: 2;
  text-shadow: #000821 1px 1px;
}

.hero__title {
  font-size: 2rem;
  color: #e17900;
  margin: 2em 0 0;
  width: 60%;
  font-weight: 600;
}

.hero__logo {
  height: auto;
  width: 50%;
  border-radius: 10px;
  margin-top: 5em;
}

.hero__credits {
  margin: 0;
  align-self: flex-end;
  color: #ffe3bc;
  font-size: 0.9rem;
}

@media screen and (max-width: 900px) {
  .hero__title {
    width: 80%;
  }

  .hero__logo {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .hero__hook {
    font-size: 1rem;
  }

  .hero__title {
    text-align: center;
    width: 90%;
    margin: 2em auto 0;
    font-size: 1.5rem;
  }

  .hero__logo {
    width: 90%;
    margin: 5em auto 1em;
  }

  .hero__container {
    display: flex;
  }
}

@media screen and (max-width: 400px) {
  .hero__hook {
    font-size: 0.8rem;
  }

  .hero__title {
    font-size: 1.2rem;
  }

  .hero__credits {
    display: none;
  }
}
