.cierre-registro {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  position: relative;
  z-index: 0;
}

.cierre-registro__header {
  background: linear-gradient(
    56deg,
    rgba(0, 8, 33, 1) 0%,
    rgba(7, 26, 85, 1) 50%
  );
  padding: 3%;
}

.cierre-registro__title {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  color: #ffe3bc;
}

.cierre-registro__title_accent {
  font-weight: 700;
  color: #e17900;
}

.cierre-registro__subtitle {
  font-size: 1.3rem;
  text-align: center;
}

.cierre-registro__subtitle_accent {
  font-weight: 700;
}

.cierre-registro__body {
  background-image: url('../../assets/fondo.webp');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 5% 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -2;
  position: relative;
}

.cierre-registro__recordatorio-text {
  color: #ffe3bc;
  text-align: center;
  margin: 2em 0 0 0;
  font-size: 1.3rem;
}

.cierre-registro__recordatorio-text_lg {
  font-weight: 600;
  font-size: 1.7rem;
}

.cierre-registro__overlay-container {
  position: relative;
  width: 60%;
  padding: 1%;
  margin-bottom: 3em;
}

.cierre-registro__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000821;
  z-index: -1;
  border-radius: 5px;
  mix-blend-mode: soft-light;
}

.cierre-registro__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cierre-registro__btn {
  background-color: #e17900;
  padding: 0.5em 2em;
  border-radius: 0.5em;
  margin: 1em 0;
  width: 60%;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  color: #ffe3bc;
  text-decoration: none;
  font-weight: 500;
}

.cierre-registro__recordatorio-text_dates {
  color: #4c73f1;
  font-size: 1.5rem;
  text-shadow: 1px 1px #ffe3bc;
}

.cierre-registro__credits {
  margin: 0;
  text-align: end;
}

.cierre-registro__credits-container {
  align-self: flex-end;
  position: absolute;
  bottom: 5px;
}

@media screen and (max-width: 600px) {
  .cierre-registro__title {
    font-size: 1.5rem;
  }

  .cierre-registro__subtitle {
    font-size: 1rem;
  }

  .cierre-registro__recordatorio-text_lg {
    font-size: 1.3rem;
  }

  .cierre-registro__recordatorio-text {
    font-size: 1rem;
  }

  .cierre-registro__btn {
    width: 100%;
    font-size: 1rem;
  }

  .cierre-registro__credits {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  .cierre-registro__overlay-container {
    width: 90%;
  }
}
