.host {
  background-color: #ffe3bc;
  display: flex;
  justify-content: space-between;
  padding: 0 3em;
  align-items: center;
  color: #000821;
}

.host__container {
  display: flex;
}

.host__text-container {
  display: flex;
  flex-direction: column;
  text-align: end;
  justify-content: center;
}

.host__text-container a {
  color: #4c73f1;
  font-size: 20px;
}

.host__image {
  height: 75px;
  width: 75px;
  border-radius: 50px;
  margin: 0.5em 0 0.5em 1.2em;
  box-shadow: #000821 1px 1px 5px;
  object-fit: cover;
  object-position: 0 10%;
}

.host__text {
  font-size: 1rem;
  margin: 0;
  text-decoration: none;
}

.host__text_lg {
  font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
  .host__text {
    font-size: 0.75rem;
  }
  .host__text_lg {
    font-size: 1rem;
  }

  .host {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 500px) {
  .host {
    flex-direction: column;
    height: auto;
    padding: 1em;
  }

  .host__text {
    margin: 0.25em auto;
  }
}
