.secrets {
  background: linear-gradient(
    90deg,
    rgba(7, 26, 85, 1) 0%,
    rgba(0, 8, 33, 1) 89%
  );
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.secrets__container {
  display: flex;
  justify-content: space-between;
}

.secrets__element {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.secrets__number {
  font-size: 7rem;
  margin: 0;
  align-self: center;
  color: white;
  text-shadow: 0 0 10px #ffe3bc;
}

.secrets__title {
  font-size: 2rem;
  margin: 0 0 2em 0;
}

.secrets__text {
  font-size: 1.5rem;
}

.secrets__separator {
  width: 80%;
  height: 10px;
  background: linear-gradient(
    90deg,
    rgba(7, 26, 85, 1) 0%,
    rgba(0, 8, 33, 1) 89%
  );
  border-radius: 10px;
  margin: 40px 0;
  align-self: center;
}

@media screen and (max-width: 700px) {
  .secrets__container {
    flex-direction: column;
    align-items: center;
  }

  .secrets__text {
    font-size: 1.2rem;
    text-align: center;
  }

  .secrets__element {
    width: 80%;
    margin: 1em 0;
  }
}
