.footer {
  background-color: #000821;
  min-height: 5em;
  display: flex;
  flex-direction: column;
  padding: 0 4em;
  align-items: center;
}

.footer__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer__credits {
  text-align: center;
  margin: 0;
}

.footer__hotmart-txt {
  text-align: center;
  font-size: 0.8rem;
  width: 80%;
}

.footer__logo {
  height: fit-content;
  min-width: 10em;
  width: 25%;
}

@media screen and (max-width: 500px) {
  .footer {
    flex-direction: column;
    padding: 0 1 em;
  }
  .footer__logo {
    margin: 1em;
    width: 80%;
  }

  .footer__credits {
    font-size: 0.8rem;
    padding: 1em;
  }
}
