.venta {
  padding: 5%;
  background-color: #ffe3bc;
  color: #071a55;
  border-bottom: 10px solid #e17900;
  display: flex;
}

.venta__img {
  width: 40%;
  height: fit-content;
  margin: auto 2em auto 0;
}

.venta__container {
  display: flex;
  flex-direction: column;
}

.venta__title {
  margin: 0;
  color: #ffe3bc;
  font-weight: 500;
  font-size: 2rem;
}

.venta__element {
  margin: 2em 0;
  box-shadow: 1px 1px 5px #000821;
  padding: 1em;
  background-color: #071a55;
  color: #ccc7e1;
  border-radius: 5px;
}

.venta__text {
  font-size: 1.2rem;
  margin: 1em;
}

@media screen and (max-width: 900px) {
  .venta {
    flex-direction: column;
  }

  .venta__img {
    width: 80%;
    margin: 1em auto;
  }

  .venta__title {
    font-size: 1.5rem;
  }

  .venta__text {
    font-size: 0.9rem;
  }
}
